@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #41658c;
    --accent-color: #fb0909;
    --accent-color-dark: #1d69a3;
    --background-light: #f3faff;
    --background-dark: #121212;
    --card-light: #ffffff;
    --card-dark: #1e1e1e;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);
    background-color: var(--background-light);
    line-height: 1.6;
}

body.dark-mode {
    background-color: var(--background-dark);
    color: #f0f0f0;
}

body.dark-mode .card {
    background-color: var(--card-dark);
    box-shadow: 0 0 4px #333;
}

nav {
    background-color: transparent;
    backdrop-filter: blur(200px); 
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
    padding-block: 2px;
}

.company-logo img {
    width: 60px;
    height: auto;
}

.nav-links ul {
    display: flex;
    gap: 50px;
}

.hover-link {
    cursor: pointer;
    transition: color 0.2s ease;
    color: var(--primary-text-color);
}

.hover-link:hover {
    color: rgb(6, 111, 247);
}

main {
    padding: 20px 16px;
    margin-top: 95px; 
}

.cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:20px;
    align-items: flex-start;
}

.card {
    width: 360px; 
    height: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--card-light);
    overflow: hidden;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px);
}

.card-header img {
    width: 100%
}

.card-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.news-source {
    margin: 12px 0;
}

@media (max-width: 1024px) {
    .main-nav {
        padding-block: 2px;
    }

    .nav-links ul {
        gap: 30px;
        margin-right: 10px;
    }

    .company-logo img {
        width: 50px;
        margin-right: 15px;
    }

    .card {
        width: 45%; 
        height: 480px; 
        gap:5px;

    .news-input {
        width: 180px;
    }
}
}
